<html>
  <%- include partials/header.ejs %>

      <div class="wrapper">

        <%- include partials/sidebar.ejs %>
        
        <div class="main-panel">
          <div class="panel-header panel-header-sm">
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Create Item</h4>
                  </div>
                  <div class="card-body">
                    <form action="/item" method="POST" style="width: 200px">
                        <input type="text" class="form-control" name="name" placeholder="name"><br/>
                        <input type="number" class="form-control" name="price" placeholder="price/h"><br/>
                        <button class="btn">Create</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>