<html>
  <%- include partials/header.ejs %>
  
      <div class="wrapper">
        <%- include partials/sidebar.ejs %>

        <div class="main-panel">
          <div class="panel-header panel-header-sm">
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Register</h4>
                  </div>
                  <div class="card-body">
                    <form action="/register" method="POST" style="width: 200px">
                        <input type="text" class="form-control" name="username" placeholder="username"><br/>
                        <input type="password" class="form-control" name="password" placeholder="password"><br/>
                        <button class="btn btn-success">Register</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>